<p class="fs-4 text-center">Create a new message</p>
<form method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="title" class="form-control" name="title" />
  </div>
  <div class="mb-3">
    <label for="bodyMessage" class="form-label">Type a message</label>
    <textarea rows="3" cols="2" class="form-control" name="bodyMessage" /></textarea>
  </div>

  <button type="submit" class="btn bg-success bg-opacity-50">Create</button>
</form>
