<div class="d-flex">
  <ul class="nav flex-column">
    <% if(!user.admin) { %>
    <li class="nav-item">
      <a class="nav-link" href="become-admin">Become Admin</a>
    </li>
    <% } %>

    <li class="nav-item">
      <a class="nav-link" href="create-message">Create Message</a>
    </li>

    <li class="nav-item">
      <form method="POST" action="/logout">
        <input type="hidden" name="_csrf" />
        <button class="nav-link" type="submit">Logout</button>
      </form>
    </li>
  </ul>

  <div class="">
    <p>Welcome <%= user.firstName %></p>
    <p>
      Status : <%if (user.memberStatus) { %>
      <span class="text-success">Member</span> <%} else { %>
      <span class="text-danger">Not Member</span>
      <a href="join-us">Become Member</a> <% } %>
    </p>
    <p>Feel free to check the available options</p>
  </div>
</div>
